body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  list-style: none;
}

li{
	background: #fff;
  	border: 1px solid #999;
  	float: left;
  	width: 100%;
  	margin: 1px;
  	padding: 2px;
}

span.emoji{
  font-variant: normal;
}

.countriesList{
	width: 80%;
	margin: auto;
}

.countryBasicInfo{
  display: block;
}
